cleanDefaultStyle()
  -webkit-appearance: none
  border: none
  outline: none

btn(c, border = false)
  padding: 0 10px
  border-radius: 5px
  cursor: pointer
  outline: none

  if (border == true)
    border: 1px solid c
  else
    background-color: c
    color: #fff

primaryBtn()
  btn(rgb(99, 99, 99))

primaryBorderBtn()
  btn(rgb(99, 99, 99), true)

infoBtn()
  btn(rgb(99, 99, 99))
